.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  padding: 12px;
  text-align: center;
  width: 100%;
  position: fixed;
}

.search-box {
  width: 200px;
  padding-left: 80px;
  box-sizing: border-box;
  background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/
    ic_search_48px-128.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 62px 0px;
  transition: all 0.05s ease-in-out;
}

.search-box:focus {
  padding-left: 16px;
  background-position: 0;
}

.topnav input[type=text] {
  border:none;
  font-size: 14px;
  border-radius: 3px;
  border: solid 1px #dbdbdb
}

.gallery-default-container {
	margin: 75px 25px 50px 25px;
}
  
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card-deck {
	margin-bottom: 25px;
}

.Instagram-card{
	background: #ffffff;
	border: 1px solid #f2f2f2;
	border-radius: 3px;
	width: 100%;
	max-width: 600px;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.Instagram-card-header{
	padding: 20px;
	height: 40px;
}

.Instagram-card-user-image{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.Instagram-card-time{
	float: right;
	width: 80px;
	padding-top:10px;
	text-align: right;
	color: #999;
}

.Instagram-card-user-name{
	margin-left:20px;
	font-weight:bold;
  color: #262626;
}

.Instagram-card-content{
  padding: 20px;
}

.Likes{
  font-weight: bold;
}

.Instagram-card-content-user{
  font-weight: bold;
  color: #262626;
}

.hashtag{
  color: #003569;
}

.comments{
  color:#999;
}

.user-comment{
  color: #003569;
}

.Instagram-card-footer{
  padding: 20px;
  display: flex;
  align-items: center;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}

.footer-action-icons{
  font-size: 16px;
  color: #ccc;
}

.comments-input{
  border: none;
  margin-left: 10px;
  width: 100%;
}