/******* Image header *******/
/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/home.jpg'); */
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px black;
    color: #dbdbdb;
}

.hero-text h1 {
    color: #dbdbdb;
    text-shadow: 1px 1px black;
}
/******* End image header *******/

/******* About us section *******/
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ced4da;
  background-color: white;
}

.fa {
  color: pink;
  font-size: 25px;
  text-decoration: none;
  margin-left: 30px;
  margin-top: -50px;
}

.fa:hover {
  text-decoration: none;
  color: pink;
}

#links {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  bottom: 0;
  height:60px;
}

.fadeMe {
  opacity:    0.5;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}
/******* End about us section *******/

/******* Bios section *******/
.fa {
  color: pink;
  font-size: 25px;
  text-decoration: none;
  padding-left: 30px;
  margin-top: -50px;
}

.fa:hover {
  text-decoration: none;
  color: pink;
}

h2 {
  padding-top: 0.5em;
}

#links {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  bottom: 0;
  height:60px;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.col {
  min-width: 10em;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.new_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all .2s ease-in-out;
  background-color: white;
}

.new_card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-weight: 500;
  margin: 0;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:   #f3c196;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #f5cdab;
}

#cards {
  margin: 0px 50px 0px 50px;
}
/******* End bios section ******/

/******* Form authentication syling *******/
#firstname, #lastname, #username, #password {
    background-image:  url('../images/icons/auth.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
}

#email {
    background-image: url('../images/icons/contact.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
}
/***** END form authentication sytling ****/
